
<div class="row">

  <div class="col-sm-3"></div>

  <div class="col-sm-6">
    <h1>Your Leagues</h1>

    <% League.where(:user_id => current_user.id).each do |l| %>
      <div class="list-group-item" >
        <%= link_to "( #{l.name} )", league_path(l), class: 'btn btn-default btn-block', id: 'leagueList' %>
      </div>
    <% end %>

    <button data-toggle="modal" data-target="#leagueModal" data-remote="<%= new_league_path %> #new_league_modal" class="btn btn-default btn-block">+ League</button><br>
    <br>

    <%= link_to "Logout ", session_path(session), method: :delete %>

    <div class="modal fade" id="leagueModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>

  </div>

</div>
