<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<center>
				<h1>( RecStar )</h1>
				<% if current_user %>
					<%= link_to "Logout ", session_path(session), method: :delete %>
				<% else %>
					<a data-toggle="modal" class="btn btn-default btn-lrg btn-block" style="width:50%" data-target="#signinModal" data-remote="<%= new_session_path(current_user) %> #new_session_modal">Sign In</a>
				<% end %>
			</center>
		</div>
	</div>
	<div class="row">
		<%= render 'form' %>
	</div>
</div>

<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    </div>
  </div>
</div>

		           
