<div class="container-fluid" x-ng-controller="TeamsCtrl">
	<div class="row">

		<div class="col-sm-4">
			<center>
				<h2>( Players )</h2>			
				<div x-ng-repeat="player in team.players">
					<button class="btn btn-info btn-block" ng-click="isCollapsed = !isCollapsed">
						<h5>{{player.last_name}}, {{player.first_name}} <i>#{{player.number}}</i></h5>
					</button>
					<div collapse="!isCollapsed">
						<h5><i>Position:</i> {{player.position}} </h5>
						<h5><i>Height:</i> {{player.height}} </h5>
						<h5><i>Weight:</i> {{player.weight}} lbs. </h5>
						<div class="btn btn-danger" ng-click="deletePlayer(player);">Remove Player</div>
						<div class="btn btn-warning" ng-click="editPlayer(player);">Edit Player</div>
						<hr>
					</div>
				</div>
				<br>
				<div class="btn btn-default" ng-click="newPlayer(team.players)">New Player</div>
			</center> 
		</div>

		<div class="col-sm-8">
			<h2>Player Stats</h2>
		</div>

	</div>
</div>


