<center>
	<div class="row">

		<div class="col-sm-6">
			<h2>( Schedule )</h2>
			<accordion close-others="true">
				<!-- month[1] is the year in the date -->
				<accordion-group x-ng-repeat="month in leagueMonths" x-ng-if="month[0].number >= currentMonth" style="margin-top:0px;">
					<accordion-heading>
						<h3 style="margin: 0 auto 0 auto;">{{month[0].name}} <small>{{month[1]}}</small></h3>
					</accordion-heading>
					<accordion close-others="true">
						<accordion-group heading="{{day.date | date:'EEEE, MMM dd'}}" style="margin-top:0px;" x-ng-repeat="day in league.days | orderBy:'date'"	x-ng-if="month[0].number == day.date.split('-')[1] && 
						month[1] == day.date.split('-')[0] &&
						dayInt(day.date) >= dateToday">
							<div x-ng-repeat="game in day.games" x-ng-if="game.day_id == day.id">
								<div x-ng-repeat="team in league.teams" x-ng-if="game.home_team_id == team.id">
									<h4>( {{game.home_score}} ) {{team.name}}</h4>
								</div>
								-vs-
								<div x-ng-repeat="team in league.teams" x-ng-if="game.away_team_id == team.id">
									<h4>( {{game.away_score}} ) {{team.name}}</h4>
								</div>
								<div><h5>{{game.time | date:'shortTime'}} @ {{game.location}}</h5></div>
								<div x-ng-if="game.half && !game.final"><i>Halftime</i></div>
								<div x-ng-if="game.final"><i>Final Score</i></div>
								<div class="btn btn-warning btn-sm" ng-click="editGame(game, league);" x-ng-if="league.user_id == user.id">Update Game</div>
								<hr>
							</div>
							<div x-ng-if="league.user_id == user.id">
								<div class="btn btn-primary" x-ng-click="newGame(day, league, $index)">+ Game</div>
								<div class="btn btn-danger" x-ng-click="deleteDay(day)">- Day</div>
							</div>
						</accordion-group>
					</accordion>
				</accordion-group>
			</accordion>
			<button x-ng-if="league.user_id == user.id" class="btn btn-default btn-block" ng-click="newDay(league);" style="margin-top:-20px;">+ Day to {{league.name}}</button>	
		</div>

		<div class="col-sm-6">
			<h2>( Standings )</h2>
			<accordion close-others="true">
				<accordion-group x-ng-repeat="team in league.teams | orderBy:winPercent" style="margin-top:0px;">
					<accordion-heading>
						<h4 style="margin: 0 auto 0 auto;">{{team.name}} 
							<small x-ng-repeat="lt in leagueTeams" x-ng-if="lt.league_id == league.id && lt.team_id == team.id">( {{lt.wins}} - {{lt.losses}} )</small>
						</h4>
					</accordion-heading>
					<accordion close-others="true">
						<accordion-group heading="Home Games">
							<div x-ng-repeat="game in team.home_games | orderBy:'date'" x-ng-if="game.league_id == league.id">
								<h5>( {{game.home_score}} ) {{team.name}} -vs- 
									<span x-ng-repeat="guestTeam in league.teams" x-ng-if="game.away_team_id == guestTeam.id">( {{game.away_score}} ) {{guestTeam.name}}
									</span>
								</h5>
								<h5>
									{{game.date | date:'shortDate'}}, {{game.time | date:'shortTime'}} at {{game.location}}
								</h5>
								<div x-ng-if="game.half && !game.final"><i>Halftime</i></div>
								<div x-ng-if="game.final"><i>Final Score</i></div>
								<hr>
							</div>
						</accordion-group>
						<accordion-group heading="Away Games" style="margin-top:0px;">
							<div x-ng-repeat="game in team.away_games | orderBy:'date'" x-ng-if="game.league_id == league.id">
								<h5>( {{game.away_score}} ) {{team.name}} @ 
									<span x-ng-repeat="homeTeam in league.teams" x-ng-if="game.home_team_id == homeTeam.id">( {{game.home_score}} ) {{homeTeam.name}}
									</span>
								</h5>
								<h5>
									{{game.date | date:'shortDate'}}, {{game.time | date:'shortTime'}} at {{game.location}}
								</h5>
								<div x-ng-if="game.half && !game.final"><i>Halftime</i></div>
								<div x-ng-if="game.final"><i>Final Score</i></div>
								<hr>
							</div>
						</accordion-group>
					</accordion>
					<div class="btn btn-danger" x-ng-click="deleteLeagueTeam(team);" x-ng-if="league.user_id == user.id">Remove this team</div>
					<a href="/teams/{{team.id}}" class="btn btn-primary">Team Site</a>
				</accordion-group>
			</accordion>
		</div>

	</div>
</center>
