<div class="container-fluid" x-ng-controller="TeamsCtrl">
	<div class="row">
		<div ng-show="errors" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" ng-click="clearErrors();" aria-hidden="true">&times;</button>
      <ul>
        <li ng-repeat="(attribute, error) in errors">
          {{attribute}} {{error.join(", ")}}
        </li>
      </ul>
    </div>
	</div>
	<div class="row">

		<div class="col-sm-4">
			<center>
				<h2>( Players )</h2>
				<accordion close-others="true" >
					<accordion-group x-ng-repeat="player in team.players | orderBy:'last_name'" style="margin-top:0px;">
						<accordion-heading>
							<h4 style="margin: 0 auto 0 auto;">{{player.last_name}}, {{player.first_name}} <small>#{{player.number}}</small></h4>
						</accordion-heading>
						<div>
							<h5><i>Position:</i> {{player.position}}</h5>
							<h5><i>Height:</i> {{player.height}}</h5>
							<h5><i>Weight:</i> {{player.weight}} lbs.</h5>
							<!-- Put Stat Averages Here -->
							<div x-ng-if="user.id == team.user_id">
								<div class="btn btn-warning" ng-click="editPlayer(player);"><span class="glyphicon glyphicon-edit"></span> Player</div>
								<div class="btn btn-danger" ng-click="deletePlayer(player);"><span class="glyphicon glyphicon-remove-circle"></span> Player</div>
							</div>
						</div>
					</accordion-group>
					<div x-ng-if="user.id == team.user_id" class="btn btn-default btn-block" ng-click="newPlayer(team.players)">+ Player to {{team.name}}</div>
				</accordion>
			</center> 
		</div>

		<div class="col-sm-4">
			<center>
				<h2>( {{team.name}} ) <br><small>leagues</small></h2>
				<accordion close-others="true" >
					<accordion-group x-ng-repeat="league in teamLeagues | orderBy:'start_date'" style="margin-top:0px;">
						<accordion-heading>
							<h4 style="margin: 0 auto 0 auto;">{{league.name}}</h4>
						</accordion-heading>
						<div>
							<h5><i>Start Date:</i><strong> {{league.start_date | date:('fullDate')}} </strong></h5>
							<h5><i>End Date:</i><strong> {{league.end_date | date:('fullDate')}} </strong></h5>
							<h5><i>Sport:</i><strong> {{league.sport}} </strong></h5>
							<h5><i>Locations:</i><strong> {{league.locations}}</strong></h5>
							<h5><i>Description:</i><strong> {{league.description}}</strong></h5>
							<a href="/leagues/{{league.id}}" class="btn btn-primary">League Site</a>
						</div>
					</accordion-group>
				</accordion>
			</center>
		</div>

		<div class="col-sm-4">
			<center>
				<h2>( Search for Leagues )</h2>
				<input type="text" class="form-control" ng-model="leagueSearch" placeholder="Search for Leagues on RecStar">
				<accordion close-others="true" >
					<accordion-group x-ng-repeat="league in leagues | filter:leagueSearch" x-ng-if="leagueSearch" style="margin-top:0px;">
						<accordion-heading>
							<h4 style="margin: 0 auto 0 auto;">{{league.name}}</h4>
						</accordion-heading>
						<div>
							<h5><i>Start Date:</i><strong> {{league.start_date | date:('fullDate')}} </strong></h5>
							<h5><i>End Date:</i><strong> {{league.end_date | date:('fullDate')}} </strong></h5>
							<h5><i>Sport:</i><strong> {{league.sport}} </strong></h5>
							<h5><i>Locations:</i><strong> {{league.locations}}</strong></h5>
							<h5><i>Description:</i><strong> {{league.description}}</strong></h5>
							<a href="/leagues/{{league.id}}" class="btn btn-primary">League Site</a>
							<div x-ng-if="user.id == team.user_id" class="btn btn-success" x-ng-click="saveLeagueTeam(team.id, league);">Join this league</div>
						</div>
					</accordion-group>
				</accordion>
			</center>
		</div>

	</div>
</div>